Q.1 (i) string

In [ ]:
a="Data Science"
print(a)
type(a)

(ii) list

In [ ]:
l=[20, 50, "DATA", 5>3, 6%2, 5**2, 25/4]
print(l)
type(l)

(iii) float

In [ ]:
a=25
b=4
c=a/b
print(c)
type(c)

In [ ]:
fruit=["apple", "banana","orange"]
x, y, z=fruit
print(x)
print(y)
print(z)
type(fruit)

(iv) tuple

In [ ]:
tuple=("Data",[8,4,6],(1,2,3,5.5))
print(tuple)
type(tuple)

Q.2 Data type of given variable

(i) var1=" "

In [ ]:
var1=" "
type(var1)

(ii) var2='[DS, ML, python]'

In [ ]:
var2='[DS, ML, python ]'
type(var2)


(iii) var3=['DS', 'ML', 'python']

In [ ]:
var3=['DS','ML', 'python']
type(var3)

(iv) var4=1

In [ ]:
var4=1
type(var4)

Q.3 Explain the operators

(i) / (Division Operator):- It is a division operator. It is used to devide any number. It givers both value Quatient and Rewmainder. It gives answer in float value.

In [ ]:
a=25
b=4
c=a/b
print(c)
type(c)

(ii) % (Modulas):- It is a Modulas operator. Its used to get Remainder. It gives us only int value.

In [ ]:
a=25
b=3
c=a%b
print(c)
type(c)

(iii) // (Floor):- It is a floor division operator. It gives only quatient. It also devide any number and it gives us only int value.

In [ ]:
a=25
b=3
c=a//b
print(c)
type(c)

** (Expopnention):- It is Exponention operator. It is used to raise the number on the left to the power of the exponent of the right.5**2, 5 is being raised to the 2nd powert means multiple by itself 2 times.

In [ ]:
a=5
b=2
c=a**b
print(c)
type(c)

Q.4 create a list of length 10 and use the for loop and print the element & its data type.

In [ ]:
l=[5, 4**3, 2, "DATA", 6, 5>4, 15, 20%6, 100, 5==5]
for i in l:
  print(l)
type(l)

In [ ]:
l=[5, 4**3, 2, "DATA", 6, 5>4, 15, 20%6, 100, 5==5]
for i in range (len(l)):
  res=[ ]
  res.append((l[i],i))
  print("List of items")
  print(res)
type(res)

Q.7 Mutable and immutable data with example.
    Ans: - Mutable object that allows you to change its values without changing its identity while immutable object doesn't allow changes in its value.
  for example: In list you can change any type of data but in string you don't change any letter.
  Such as l=[5', "Data", 25] in this example you can change any data like "Data" if we want to change from Data to Tata that we can give command to python is that print(l[1])="Tata". so this type of data called mutable data but in string we cannot as so as for example s=["MAN"] in this exaqmple cyou can't replace to any letter such as if we wasnt to chane a to e then when we give command to python then will not change and python show error as- print(s(l[1])) that python doesn't chage. so this type of data called immutable data.

In [ ]:
l=[5, "Data", 25]
print(l[1])

In [ ]:
l=[5, "Data", 25]
l[1]="Tata"
print(l[1])

In [ ]:
s=["MAN"]
print(s)

In [ ]:
s=["MAN"]
s[1]="E"
print(s)

Q.6 list of 25 int type of data and use for loop and if-else condition print if the element is disvisible by 3 or not.

In [ ]:
l=[5, 10, 20, 50, 60, 45, 78, 25, 40, 50, 60, 70, 15, 25, 45, 80, 75, 20, 30, 90, 95, 85, 65, 34, 10]
for i in l:
  if i%3==0:
    print("Number is divisible by 3")
  else:
    print("Number is not divisible by 3")

Q.5 using while loop and verify that a is purely divisible by b and how many time divisible.

In [ ]:
n=int(input("Enter the number"))
m=int(input("Enter the number"))
div=[5, 8]
while(n<m):
  if n==5:
    continue
  if n%div[0]==0 and n%div[1]==0:
    print(n, 'the number is divisible for both 5 and 8')
  elif n%div[0]==0:
    print (n, 'the number is divisible for 5')
  elif n%div[1]==0:
    print(n, 'the number is divisible for 8')
else:
  print(n, 'is divisival for neither 5 nor 8')

In [ ]:
n=int(input("Enter the number"))
m=int(input("Enter the number"))
div=[5, 8]
while(n<m):
  if n==5:
    continue
  if n%div[0]==0 and n%div[1]==0:
    print(n, 'the number is divisible for both 5 and 8')
  elif n%div[0]==0:
    print (n, 'the number is divisible for 5')
  elif n%div[1]==0:
    print(n, 'the number is divisible for 8')
else:
  print(n, 'is divisival for neither 5 nor 8')